<div class="col-md-3 parent">
	<div class="profile-sidebar">
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				Taichi Kamimura
			</div>
			<div class="profile-usertitle-job">
				Developer
			</div>
		</div>
		<div class="profile-userbuttons">
			<button type="button" class="btn btn-success btn-sm">Follow</button>
			<button type="button" class="btn btn-danger btn-sm">Message</button>
		</div>
		<div class="profile-usermenu">
			<ul class="nav">
				<li class="active">
					<a href="#">
        				<i class="fa fa-home fa-fw"></i>
					Overview </a>
				</li>
				<li>
					<a href="#">
					<i class="fa fa-cog fa-fw"></i>
					Account Settings </a>
				</li>
				<li>
					<a href="#" target="_blank">
					<i class="fa fa-tasks fa-fw"></i>
					Tasks </a>
				</li>
				<li>
					<a href="#">
					<i class="fa fa-info fa-fw"></i>
					Help </a>
				</li>
			</ul>
		</div>
	</div>
</div>